name: Deploy to Itch.io

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
  workflow_dispatch:

env:
  GODOT_VERSION: 4.6
  EXPORT_NAME: BrackeysJam2026
  ITCH_USERNAME: ranamzes
  ITCH_GAME_ID: testdev # ЗАМЕНИТЕ на ваш itch.io slug

jobs:
  export-web:
    name: Web Export
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:4.6
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable

      - name: Web Build
        run: |
          mkdir -v -p build/web
          godot --headless --verbose --export-release "Web" build/web/index.html

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web
          path: build/web

  deploy-to-itch:
    name: Deploy to Itch.io
    needs: [export-web]
    runs-on: ubuntu-latest
    steps:
      - name: Download Web Artifact
        uses: actions/download-artifact@v4
        with:
          name: web
          path: build/web

      - name: Deploy Web
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_CREDENTIALS }}
          ITCH_GAME: ${{ env.ITCH_GAME_ID }}
          ITCH_USER: ${{ env.ITCH_USERNAME }}
          PACKAGE: build/web
        run: |
          curl -L -o butler.zip https://broth.itch.ovh/butler/linux-amd64/LATEST/archive/default
          unzip butler.zip
          chmod +x butler
          ./butler push $PACKAGE $ITCH_USER/$ITCH_GAME:html5
